.awards {

  .header {

    .title {
      font-size: $font-size-small;
    }

    .awarder {
      font-size: $font-size-small;
      font-weight: lighter;
    }
  }

  .summary {
    font-size: $font-size-xsmall;
  }
}
