.basics {

  .header {
    width: 100%;
    height: $header-height;
    display: table;
    padding: $default-space 0;

    .left {
      display: table-cell;
      vertical-align: middle;
      horiz-align: left;
      width: $content-main-percentage;

      .name {
        font-size: $header-name-font-size;
        font-weight: bold;
        display: block;
        margin-left: -$header-name-font-size*0.07;
      }

      .label {
        font-size: $header-line-font-size;
        font-weight: lighter;
        display: block;
        margin-left: -$header-line-font-size*0.04;
      }
    }

    .right {
      display: table-cell;
      vertical-align: middle;
      horiz-align: right;
      width: $content-side-percentage;

      ul.contact {
        font-size: $header-contact-font-size;
        font-weight: normal;
        list-style-type: none;

        li {
          margin: $header-contact-font-size*0.3 0;
          text-align: right;
        }
      }
    }
  }

  .summary {
    font-size: $summary-font-size;
    padding: $default-space 0;
    font-weight: normal;
  }
}
