.basics {

  .main {
    vertical-align: middle;

    .name {
      font-size: $header-name-font-size;
      line-height: 1em;
      font-weight: bold;
      display: block;
      margin-left: -$header-name-font-size*0.07;
    }

    .label {
      font-size: $header-line-font-size;
      line-height: 1em;
      font-weight: lighter;
      display: block;
      margin-left: -$header-line-font-size*0.04;
    }
  }

  .side {
    vertical-align: middle;
    padding-left: 0;
    padding-top: 15px;

    .contact {
      font-size: $header-contact-font-size;
      list-style-type: none;

      li {
        line-height: 1.5em;
      }
    }
  }


  .summary {
    font-size: $summary-font-size;
    padding: $space-2 0;
  }
}
