* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

a {
  color: $text-color;
  font-weight: inherit;
  text-decoration: none;

  &[href] {
    text-decoration: underline;
  }
}

p {
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
}

span {
  display: inline-block;
}

.content {
  width: $content-width;
  height: auto;
  padding: 0 50px;
  margin: 0 auto;
  font-family: Helvetica, Arial, sans-serif;
  color: $text-color;
}

.table {
  width: 100%;
  display: table;
  padding: $space-2 0;

  .main {
    display: table-cell;
    width: $content-main-percentage;
    padding-right: $space-1;
  }

  .side {
    display: table-cell;
    width: $content-side-percentage;
    padding-left: $space-1;
    text-align: right;
  }
}

.margin-container-2:not(:first-child) {
  margin-top: $space-2;
}

.margin-container-3:not(:first-child) {
  margin-top: $space-3;
}

.margin-container-4:not(:first-child) {
  margin-top: $space-4;
}

.margin-text-1 {
  margin-top: 0.25em;

  &:empty {
    display: none
  }
}

.margin-text-2 {
  margin-top: 0.5em;

  &:empty {
    display: none
  }
}

.margin-text-3 {
  margin-top: 1em;

  &:empty {
    display: none
  }
}

.separator {
  display: block;
  background-color: $separator-color;
  width: $separator-width;
  height: $separator-height;
  margin: 0 auto;
  border: none;
}

.section-title {
  font-size: $section-title-font-size;
  font-weight: normal;
  margin: 0 0 $space-2 0;
}

.markdown {
  h1 {
    font-size: 160%;
    font-weight: bolder;
  }

  h2 {
    font-size: 150%;
    font-weight: bolder;
  }

  h3 {
    font-size: 140%;
    font-weight: bolder;
  }

  h4 {
    font-size: 130%;
    font-weight: bold;
  }

  h5 {
    font-size: 120%;
    font-weight: bold;
  }

  h6 {
    font-size: 110%;
    font-weight: bold;
  }

  ul, ol {
    margin-left: $space-2;
  }

  img {
    display: block;
    margin: $space-2 auto;
    max-width: 1000px;
    text-align: center;
  }

  blockquote {
    border-left: $separator-height solid $separator-color;
    margin: $space-2 0;
    padding: 15px $space-2;

    p {
      display: inline;
    }
  }

  code {
    font-family: monospace;
  }
}
