* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

.content {
  width: 1000px;
  height: auto;
  padding: 0 50px;
  margin: 0 auto;
  font-family: Helvetica, Arial, sans-serif;
  color: $text-color;
}
