.skills {

  .section-title {
    margin: 0;
  }

  .container {
    display: block;
    columns: 2;
    column-gap: $space-1;

    .article {
      break-inside: avoid-column;
      min-width: $skills-column-width;
      padding-top: $space-2;

      span {
        display: block;
        font-size: $skills-groups-font-size;
        font-weight: lighter;
      }

      li {
        font-size: $skills-keywords-font-size;
        list-style: none;
        line-height: $line-height-2;
      }

    }
  }
}
