$content-width: 1000px;
$content-main-percentage: 70%;
$content-side-percentage: 100%-$content-main-percentage;

$default-space: 20px;
$text-color: #222222;
$markdown-space: 30px;

$header-height: 100px;
$header-name-font-size: 80px;
$header-line-font-size: 40px;
$header-contact-font-size: 18px;

$separator-color: #efefef;
$separator-width: 900px;
$separator-height: 1px;

$summary-font-size: 16px;
