$text-color: #222222;
$separator-color: #efefef;

$main-content-percentage: 70%;
$side-content-percentage: 100%-$main-content-percentage;

$header-height: 100px;
$name-font-size: 80px;
$line-font-size: 40px;
$contact-font-size: 18px;
