@charset "UTF-8";


@import 'scss/common/variables';
@import 'scss/common/mixins';
@import 'scss/common/reset';
@import 'scss/common/pdf';
@import 'scss/common/global';
@import 'scss/common/utils';
@import 'scss/common/markdown';

@import 'scss/basics';
@import 'scss/work';
@import 'scss/projects';
@import 'scss/skills';
@import 'scss/education';
@import 'scss/certificates';
@import 'scss/languages';
@import 'scss/interests';
@import 'scss/links';
