doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        style
            include styles.css
        title Actual theme for JSON Resume
    body
        div(class='content')
            include pug/basics
            div(class='table')
                div(class='main')
                    include pug/work
                    include pug/projects
                div(class='side')
                    include pug/skills
                    include pug/education
                    include pug/certificates
                    include pug/languages
                    include pug/links
