doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    style
      include styles.css
    title=`Resume ${resume.basics.name} – ${resume.basics.label}`
  body
    div(class='content')
      include pug/basics
      div(class='table padding-top-container-2')
        div(class='main')
          include pug/work
          include pug/projects
          include pug/publications
          include pug/volunteer
        div(class='side')
          include pug/skills
          include pug/education
          include pug/certificates
          include pug/awards
          include pug/references
          include pug/languages
          include pug/interests
          include pug/links
