doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        style(type='text/css') !{styles}
        title Min theme for JSON Resume
    body
        div(class='content')
            include pug/basics
