if helper.validArray(resume.certificates)
    div(class='certificates margin-container-4')
        p(class='section-title') Certificates
        div(class='container')
            each certificate in resume.certificates
                div(class='article margin-container-2')
                    div(class='name markdown')
                        a(href=certificate.url) !{helper.mdToHtml(certificate.name)}
                    span(class='issuer margin-text-1')=certificate.issuer
