if helper.validArray(resume.interests)
  div(class='interests margin-container-4 no-break')
    p(class='section-title no-alone-1') Interests
    div(class='container')
      ul
        each interest in resume.interests
          li(class='article margin-text-2')=interest.name
