if helper.validArray(resume.languages)
  div(class='languages margin-container-4 no-break')
    p(class='section-title no-alone-1') Languages
    div(class='container')
      ul
        each language in resume.languages
          li(class='article margin-text-2')!=helper.beautifyArray(' · ', [language.language, language.fluency])
