if helper.validArray(resume.languages)
    div(class='languages margin-container-4')
        p(class='section-title') Languages
        div(class='container')
            ul
                each language in resume.languages
                    li(class='article margin-text-2')!=helper.mdToHtml(helper.beautifyArray(' · ', [language.language, language.fluency]))
