if helper.validArray(resume.skills)
  div(class='skills margin-container-4')
    p(class='section-title no-alone-1') Skills
    div(class='container')
      each skill in resume.skills
        div(class='article no-break')
          span=skill.name
          if helper.validArray(skill.keywords)
            ul(class='margin-text-2')
              each keyword in skill.keywords
                li=keyword
