$content-width: 1000px;
$content-main-percentage: 70%;
$content-side-percentage: 100% - $content-main-percentage;

$space-1: 10px;
$space-2: 20px;
$space-3: 30px;
$space-4: 50px;

$line-height-1: 1.2;
$line-height-2: 1.3;

$text-color: #222222;
$section-title-font-size: 26px;
$default-font-size: 16px;

$header-name-font-size: 80px;
$header-line-font-size: 40px;
$header-contact-font-size: 18px;

$main-highlights-font-size: 14px;
$main-highlights-column-width: ($content-width * ($content-main-percentage / 100%) - 3 * $space-1 - $space-2) / 2;

$work-position-font-size: 18px;
$work-dates-font-size: 15px;
$work-company-location-font-size: 15px;

$project-name-font-size: 18px;
$project-roles-font-size: 16px;

$skills-groups-font-size: 18px;
$skills-keywords-font-size: 14px;
$skills-column-width: ($content-width * ($content-side-percentage / 100%) - $space-1 -$space-2) / 2;

$education-area-font-size: 15px;
$education-institution-font-size: 15px;

$certificates-name-font-size: 15px;
$certificates-issuer-font-size: 15px;

$awards-title-font-size: 16px;
$awards-awarder-font-size: 15px;
$awards-summary-font-size: 14px;

$languages-font-size: 14px;

$interests-font-size: 14px;

$links-font-size: 14px;

